
/* SMARTPOHNE CSS */

@media screen and (max-device-width: 767px) {

    body {height: 100vh; font-size: 16px; padding: 20px; padding-top: 30vw;}
    header {display: grid; grid-template-columns: auto auto; grid-template-rows: auto auto; gap: 10px; padding: 10px 20px 20px 20px;}
    #menu-principal a {display: none;}
    header img {mix-blend-mode: lighten;}
    section {padding-bottom: 10vw;}

    a {font-size: 35px;}
    h1 {grid-column: 1; grid-row: 1; line-height: 0.9; font-size: 150px; padding-left: 40px;}
    h2#motto {grid-column: 1; grid-row: 2; font-size: 44px; padding-left: 45px;}
    h3 {font-size: 40px;}
    .main-container>h2 {font-size: 65px; padding-bottom: 30px; padding-left: 60px;}

    #mobile-menu {display: flex; flex-direction: column; justify-content: center; align-items: center; padding-right: 50px;}
    #mobile-menu:hover {cursor: pointer;}
    #mobile-menu span {width: 100px; height: 12px; border-radius: 100vw; color: white; text-align: center; line-height: 3; font-size: 30px;}
    #mobile-menu span:nth-child(1), #mobile-menu span:nth-child(5) {background-color: #e50914;}
    #mobile-menu span:nth-child(3) {background-color: white;}

    h2.titol {font-size: 42px; padding-inline: 10px; height: 170px; line-height: 1.2;}
    .portada {width: 80%;}
    .director {line-height: 1.2; height: 120px;}
    .dades {color: white; font-size: 25px;}
    .stars img {width: 50px;}

    .splide__pagination {bottom: -20px;}
    .splide__pagination__page {width: 30px;}

    #off-canvas {position: absolute; inset: -100% 0 auto 0; display: flex; flex-direction: column; justify-content: center; align-items: center; background-color: #e50914; z-index: 900; row-gap: 100px; z-index: 900; height: 90vh;}
    #off-canvas a {font-size: 40px; font-weight: 700;}

}