@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,500&display=swap');

* {box-sizing:border-box; margin: 0; padding: 0; margin-block-start: 0; margin-block-end: 0; margin-inline-start: 0; margin-inline-end: 0;}
html {overflow-y: scroll; scroll-behavior: smooth;}
html, body {height: 100%;}
img {max-width: 100%; display: block;}
h1, h2, h3, p {margin: 0;}
a {font-size: 16px; color: white;}
a:hover {color: #f99f9f; cursor: pointer;}

        /* LOADER */
        #carregant {position: fixed; inset: 0 0 0 0; display: flex; flex-direction: column; justify-content: center; align-items: center; z-index: 900; background-color: #520505; color: white;}
        #carregant h2 {background: linear-gradient(-45deg, white, #E50914, white, #E50914, white, #E50914, white, #E50914, white, #E50914, white, #E50914, white, #E50914, white, #E50914); background-size: 400% 400%; animation: gradient 20s ease alternate infinite; -webkit-background-clip: text; -webkit-text-fill-color: transparent; font-size: 200px;}
        #carregant p {font-weight: 700; animation: expanding 1s ease alternate infinite;}
            
        @keyframes gradient {
            0% {background-position: 0% 50%;}
            50% {background-position: 100% 50%;}
            100% {background-position: 0% 50%;}}

        @keyframes expanding {
            0% {letter-spacing: 0.5ch;}
            100% {letter-spacing: 0.75ch;}}

        /* FINAL LOADER */

header {position: fixed; inset: 0 0 auto 0; z-index: 1000;}
#header-inner {position: relative; padding: 10px 100px 15px 100px; width: 100%; display: flex; justify-content: space-between; align-items: center; background-color: hsla(0, 87%, 7%, 0.9); z-index: 100;}
nav {width: 100%; display: flex; justify-content: center; column-gap: 30px;}
nav a {font-weight: 700; font-size: 20px; text-decoration: none;}
body {font-size: 2vw; font-family: 'Open Sans', sans-serif; padding-top: 10vw; line-height: 1; background-color: #520505; background: linear-gradient(170deg, #520505, #520505 92%, #2c0303 92%, #2c0303 95%,#520505 95%) fixed;}

main {display: flex; flex-direction: column;}
section {padding-bottom: 5vw;}
section.main-container {width: 90vw; margin: auto;}
.slider {width: 100%;}
.splide__track {width: 94%; margin: auto;}
.movie {padding: 10px;}
.movie-back {background-color: #2c0303; display: flex; flex-direction: column; justify-content: space-between; align-items: center; padding: 12px; border-radius: 3px;}
.movie * {text-align: center;}
.stars {display: flex; justify-content: center; row-gap: 5px;}

h1 {font-size: 60px; font-weight: 700; color: white;}
h2 {font-size: 20px; color: white;}
h3 {font-size: 18px; color: #f99f9f; padding-top: 10px;}

h1 span:nth-child(odd) {color: #E50914;}
#x-gran {font-size: 1.2em;}
h2#motto {letter-spacing: 0.4ch;}

section#video-tocho.main-container {width: 100%;}

.main-container>h2 {font-size: 40px; padding: 0 0 20px 80px; font-style: italic; letter-spacing: 0.25ch;}
.splide__slide:hover {cursor: grab;}
.splide__arrows {transform: translateY(11vw);}
.splide__arrow:hover:not(:disabled) {opacity: 1; background-color: #f99f9f}

.splide__pagination {background-color: #f99f9f; width: fit-content; height: auto; margin: auto; border-radius: 4px; bottom: -0.5em; padding: 2px; pointer-events: none;}
.splide__pagination:hover {opacity: 0.2;}
.splide__pagination>li:first-child button {border-radius: 4px 0 0 4px;}
.splide__pagination>li:last-child button {border-radius: 0 4px 4px 0;}
.splide__pagination li {line-height: 0; padding: 0; margin: 0; border-radius: 0; width: fit-content; display: flex; align-items: center;}
.splide__pagination__page {background-color: #f99f9f; width: 80px; height: 6px; border-radius: 0; margin: 0%; pointer-events: none; opacity: 1;}
.splide__pagination__page.is-active {transform: scale(1); background-color: #520505}

.portada {width: 75%; margin: auto;}
h2.titol {height: 65px;}
.director {line-height: 1; height: 55px;}
.movie-back>*:nth-child(1n+4) {line-height: 1.6;}
.dades {color: white; font-size: 14px;}
span.any {padding-right: 10px;}
span.pais {padding-left: 10px;}
.stars {padding-block: 10px; filter: brightness(0.8);}
.stars img {width: 13%;}

.order01 {order: 1;}
.order02 {order: 2;}

#mobile-menu, #off-canvas {display: none;}

body#video {padding: 0;}
#video-container {width: 100%;}
video {display: block;}

#formulari-container {position: absolute; inset: 0 0 0 0; display: flex; flex-direction: column; justify-content: center; align-items: center; background-color: #520505cc; z-index: 800; }
#formulari-container-inner {background-color: #E50914; padding:50px; border-radius: 4px;}
form {display: flex; flex-direction: column; justify-content: center; align-items: center;}
#formulari-container h2 {font-size: 40px; font-style: italic; letter-spacing: 0.25ch; padding-bottom: 20px; text-align: center;}
label {font-size: 20px; font-weight: 700; color: white; line-height: 2; letter-spacing: 0.25ch;}
div[id*='grup'] {line-height: 0;}
div[id*='grup'] span {font-size: 20px; color: #f99f9f; padding-left: 10px; font-weight: 700;}

input {outline: 0; line-height: 2; text-align: center; font-size: 16px;}
input#titol {width: 76ch;}
input#director, input#pais  {width: 35ch;}
input#any {width: 20ch;}
input#puntuacio {width: 10ch;}
input[type="radio"] {width: 10px;}
.form-row {display: flex; flex-direction: row; justify-content: space-between; width: 100%;}
.form-col {display: flex; flex-direction: column; align-items: center;}
.form-padd-top {padding-top: 20px;}
#pujar-imatge {position: relative; width: 200px; height: 50px; margin-top: 20px;}
#pujar-imatge::after {content: 'Afegir la portada'; width: auto; background-color: #520505; color: white; position: absolute; inset: 0 0 0 0; font-size: 16px; font-weight: 700; display: flex; justify-content: center; align-items: center; line-height: 4; border-radius: 4px;}
#pujar-imatge:hover::after {background-color: #f99f9f; color: #520505; cursor: pointer;}

input[type="submit"] {width: 200px; height: 50px; margin-top: 20px; background-color: #f99f9f; color: #520505; border:0; font-size: 16px; font-weight: 700; display: flex; justify-content: center; align-items: center; border-radius: 4px;}
input[type="submit"]:hover {background-color: white; color: #E50914; cursor: pointer;}

input::-webkit-outer-spin-button, input::-webkit-inner-spin-button {-webkit-appearance: none; margin: 0;}

#afegeix {width: 500px; height: 500px; border-radius: 150% 0 0 150%; display: flex; justify-content: center; align-items: center; background-color: #E50914; position: fixed; z-index: 1000; text-align: center; color: white; font-weight: 700; font-style: italic; font-size: 20px;}

#formulari-container {display: none;}